.swiper {
  width: 100%;
  height: 100%;
}

.box {


  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none !important;

}
.black {

  font-size: 25px !important;
  background-color: rgba(0, 0, 0, 0.6) !important;

  transform: translateY(-50%);
}
.mySwiperLeft {


  height: 100vh;
  width: 65%;
  top: 0px;
  position: fixed;
  background-color: white;
  transition: 0.5s;


}
.swiper-button-prev,
.swiper-button-next  {
  font-size: 16px !important;

  color: white !important;
  width: 35px !important;
  height: 35px !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
 

}
